h1{
    padding-top: 4%;
    padding-bottom:6%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: outset;
    border-color: shadow;
    height: 100px;
    background-color:rgb(161, 46, 46);
    color: rgba(252, 229, 199, 0.932);
}